* {
    box-sizing: border-box;
    font-size: 1.5rem;
}

html {
    background: #b3b3b3;
    padding: 5px;
}

body {
    background: #b3b3b3;
    padding: 5px;
    margin: 0;
  }
  
  /* 
    Flex Container Properties

    Anything inside flex container is flex item 
    Inline flex - then box is like inline element, only takes amount of space needed
    Flex-direction: default is row, if column then items behave like block level. Width defined in items will not adjust if too small, the rest will shrink infinitely. Can reverse order
    Flex-wrap: default is none, will make items wrap if flex container runs out of space. Wrap reverse to change order
    Main Axis: default with flex drection row, goes top left to top right. Flex-d = col then main is top left to bottom right
    Cross Axis: default with flex drection row, goes top left to bottom left. Flex-d = col then cross is top left to top right
    Align items: center items on cross axis
    Justify content: center items on the main axis
    Align-content: Align on cross axis when multi-line flex container - no effect on single line
  */
.flex-container {
    background: white;
    padding: 10px;
    border: 5px solid black;
    display: flex;
  }

  /*
    Flex item Properties

    order: can position along the flex direction of the container. default is 0
    align-self: position along the cross axis
    flex-grow: determine how much of remaining space in container an item should take. Add flex grow amount and distribute. So 2 items with values "1" and "4" then 1/5 and 4/5 goes to item(s). Will take whole line if on a new line
    flex-shrink: when items in flex-container are bigger than it, defines factor by which it should shrink. Default is 1
    flex-basis: Initial main size dependent on main axis (width if flex-d is row, height if column) - default is content box unless box-sizing is different.
  */

.item-1 {
    background: #ff7300;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
}

.item-2 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 250px;
    font-size: 1.8rem;
}

.item-3 {
    background: #ff9640;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    height: 250px;
}

.item-4 {
    background: #f5c096;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 300px;
    height: 300px;
}

.item-5 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}

.item-6 {
    background: #d3c0b1;
    color: white;
    padding: 10px;
    border: 5px solid black;
    margin: 10px;
    width: 350px;
}